* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", sans-serif;
  }

  html,body {
    height: 100%;
  }
 
  .sticky-footer {
    flex-shrink: 0;
  }

  body {
    background-color: #e9967a;
  }


  header {
    height: 60px;
    background-color: #333;
    color: white;
 
}

/*main {
    height: calc(100vh - 180px);
    /* height:500px;  
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.nav-item,footer{
    font-size: 1.5rem ;
    padding-top: 5px;
}
   
/*
footer{
     
    width: 100%;
    background-color: #000; 
    color: #fff;
}*/
  

/*.footer-copyright {
     
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 1.4rem;
    padding-top: 10px;
     
  }*/

  .footer-copyright {
     
    font-size: 1.4rem;
    padding-top: 10px;
     
  }

  
  .footer-copyright p {
    padding: 0.2rem;
  }
  